@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}


:root{
    
    /* Primary  */
    --soft_orange: hsl(35, 77%, 62%); 
    --soft_red: hsl(5, 85%, 63%);

    /* Neutral  */
    --off_white: hsl(36, 100%, 99%); 
    --grayish_blue: hsl(233, 8%, 79%); 
    --dark_grayish_blue: hsl(236, 13%, 42%); 
    --very_dark_blue: hsl(240, 100%, 5%);
}

