@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}


:root{
    
    /* Primary  */
    --soft_orange: hsl(35, 77%, 62%); 
    --soft_red: hsl(5, 85%, 63%);

    /* Neutral  */
    --off_white: hsl(36, 100%, 99%); 
    --grayish_blue: hsl(233, 8%, 79%); 
    --dark_grayish_blue: hsl(236, 13%, 42%); 
    --very_dark_blue: hsl(240, 100%, 5%);
}

body{
    overflow-x: hidden;
}
.container{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}

/* Navbar  */
.header__nav{
    max-width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__menu-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;

}

.nav__menu-links li>a{
    color: var(--dark_grayish_blue);
}

.nav__menu-links li>a:hover {
    color: var(--soft_red);
}

.hamburger{
    display: none;
}

.hamburger, .hamburger__close{
    cursor: pointer;
}

/* side menu section  */
.mobile__nav-menu{
    position: absolute;
    right: 0;
    top: 30px;

    width: 200px;
    height: 100vh;
    background-color: var(--off_white);

    display: flex;
    flex-direction: column;
    gap:50px;
    transform: translateX(500px);
}

.open{
    transform: translateX(0px);
}

.mobile__nav-menu .hamburger__close{
    align-self: flex-end;
}

.mobile__menu-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

.mobile__menu-links li>a {
    color: var(--very_dark_blue);
}

/* Main section  */
.main__section{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
}

.hero__image{
    grid-column: 1/3;
}

.mobile-image{
    display: none;
}

.new__info{
    grid-column: 3/4;
    grid-row: 1/3
}

.hero__image img{
    max-width: 100%;
}

.new__info{
    background-color: var(--very_dark_blue);
    padding: 20px;
}

.new__heading{
    color: var(--soft_orange);
    font-size: 2.2rem;
    margin: 10px 0;
}

.sub__info{
    line-height: 30px;
    padding: 20px 0;
}
.sub__info h3{
    color: var(--off_white);
    font-size: 1.2rem;
}

.sub__info p{
    color: var(--grayish_blue);
    font-size: 1rem;
}

hr{
    height: 0.5px;
    background-color: var(--grayish_blue);
}


.page__title h1{
    font-size: 3rem;
    color: var(--very_dark_blue);
}


.about__company p{
    font-size: 1rem;
    color: var(--dark_grayish_blue);
    line-height: 1.3;
}

.about__company button{
    all: unset;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--soft_red);
    color: var(--off_white);
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}

.about__company button:hover{
    background-color: var(--very_dark_blue);
}

/* Blogs cards section */
.blogs__section {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}


.blog__card{
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
}

.blog__thumbnail img{
    width: 120px;
    height: 150px;
}

.blog__overview p{
    margin: 10px 0;
}

.blog__overview .blog-number{
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--grayish_blue);
}

.blog__overview .blog-title{
    font-weight: bold;
    color: var(--very_dark_blue);
}

.blog__overview .blog-title:hover{
    color: var(--soft_red);
}

.blog__overview .blog-info{
    font-size: .9rem;
    color: var(--dark_grayish_blue);
}


/* Media Queries  */
@media only screen and (max-width: 650px) {
    .header__nav-menu{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .main__section {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 30px;
    }


    .hero__image {
        grid-column: 1/2;
    }


    .new__info {
        grid-column: 1/2;
        grid-row: 4/5;
    }

}

@media only screen and (max-width: 400px) {
    .desktop-image {
        display: none;
    }
    
    .mobile-image {
        display: block;
    }
}
















